<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Daftar Restoran">
  <meta name="theme-color" content="#fff8ed"/>
  <title>Daftar Restoran</title>
  <link rel="apple-touch-icon" href="icons/icon-192x192.png">
  <link rel="shortcut icon" href="images/logos/logo.png" type="image/x-icon">
  <link rel="manifest" href="./app.webmanifest">
</head>

<body>
  <a href="#content" class="skip-content">Menuju ke konten</a>
  <navbar-component></navbar-component>
  <header-component></header-component>
  <main tabindex="0" id="content"></main>
  <footer-component></footer-component>
</body>

</html>